<h1>welcome </h1>



<div>
<%=image_tag("twitter_card-default.jpg", size:"200")%>
</div>

<div>
<%= link_to 'Sign in with Spotify', '/auth/spotify' %>
<<<<<<< HEAD

</div>



=======
</div>
>>>>>>> c6eb2f6828d21f43d7eac6c9c310d80154fbafba
