<h1>Welcome to spotify rank</h1>

<div>
<p> 
Sign into your spotify account to see the color of your playlist 
Red playlists will be hot, Blue playlist will be cold. Pink playlist 
will be somwhere in the middle 
</p>
</div>




<div>
<%=image_tag("twitter_card-default.jpg", size:"200")%>
</div>

<div>
<%= link_to 'Sign in with Spotify', '/auth/spotify' %>
</div>
