body{
    background-color: lightgray;
    font-family: "Lato", sans-serif;
}

#palette-container{
    width: 75%;
    text-align: center;
    margin: auto;
   
  /*transform: rotate(90deg);*/

}

#palette-container div{
    
    color: white;
    text-align: center;

}

form{
    display: block;
    margin-bottom: 2em;
    text-align: center;
    
}

[type="submit"]{
    border-radius: 2px;
    border: none;
    box-shadow: 1px  1px solid white;
    padding: 2px;
    background-color: gray;
    color: white;
}
select{
    border: none;
    border-radius: 2px;
}

h2{
    color: hotpink;
    text-shadow: 1px 1px 2px white;
}

